<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= __('Welcome to nodepop') %></p>
    <a href="/anuncios"> <%= __('Click todos los anuncios') %></a>
  </body> 
</html>
